<div class="container">
    <div>
        <h3>Search Posts</h3>
    </div>
    <form action="">
      <div class="form-container">
          <div class="date-filter">
              <div class="from-date headline">From:</div>
              <div class="from-date-input">
                <input type="date" #fromDate />
              </div>
              <div class="to-date headline">To:</div>
              <div class="to-date-input">
                <input type="date" #toDate />
              </div>
          </div>
        <div class="posted-by headline">Posted by:</div>
        <div class="posted-by-input">
          <input type="text" #postedBy />
        </div>
        <div class="Tags headline">Tags:</div>
        <div class="Tags-input">
          <input type="text" #tags />
        </div>
        <div class="tagged headline">Tagged Users:</div>
        <div class="tagged-input">
          <input type="text" #tagged />
        </div>
      </div>
      <div class="button">
        <button>
          Search
        </button>
      </div>
    </form>
  </div>
  