<div class="container">
  <div *ngIf="user">
    <app-main-feed-left
      (updatePosts)="filter($event)"
      [userId]="user.id"
      [userName]="user.userName"
    ></app-main-feed-left>
  </div>
  <div class="feed">
    <mat-tab-group mat-align-tabs="end">
      <mat-tab label="Timeline">
        <app-posts *ngIf="user" [userId]="user.id" [posts]="posts$"></app-posts>
      </mat-tab>
      <mat-tab label="Map">
        <app-map></app-map>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
