h1 {
  text-align: center;
}
.container {
  align-items: center;
  justify-content: center;
  border: 5px solid cadetblue;
  width:fit-content;
  padding: 2%;
  margin-top: 2%;
  border-radius: 4%;
  box-shadow: 10px 10px 8px #888888;
  background-color: rgb(236, 241, 239);
}
.error {
  color: red;
}
div {
  align-content: center;
  display: flex;
  flex-direction: column;
}
input {
  height: 40px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
}

.papa{
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}

button{
  margin-top: 3%;
  justify-content: center;
}
