<div class="container">
  <div class="left">
    <h2>FAKELOOK</h2>
    <a>"פייקלוק מאפשרת לך להתחבר ולשתף יחד עם האנשים בחייך" </a>
  </div>
  <div id="login-form-wrap">
    <h2>Login</h2>
    <form id="login-form">
      <p>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
        /><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        /><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="submit" id="login" value="Login" />
      </p>
    </form>
    <div class="create-account-wrap">
      <p>Not a member? <a (click)=goToSignup()>Create Account</a></p>
      <p></p>
    </div>

    <!--create-account-wrap-->
  </div>
  <!--login-form-wrap-->
</div>
