<div class="container">
    <div class="left">
      <h2>FAKELOOK</h2>
      <a>"פייקלוק מאפשרת לך להתחבר ולשתף יחד עם האנשים בחייך" </a>
    </div>
    <div id="login-form-wrap">
      <h2>Change Password</h2>
      <form id="login-form">
        <p>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required #username
          /><i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input
            type="password"
            id="password1"
            name="password"
            placeholder="New Password"
            required #password1
          /><i class="validation"><span></span><span></span></i>
        </p>
        <p>
            <input
              type="password"
              id="password2"
              name="password"
              placeholder="Confirm Password"
              required #password2
            /><i class="validation"><span></span><span></span></i>
          </p>
        <p>
          <input type="submit" id="login" value="Change"(click)="change(username.value, password1.value, password2.value)">
        </p>
      </form>
    </div>
  </div>
  