<div class="container">
  <a class="username">User {{ data.userId }}</a>

  <div class="image">
    <img src="{{ data.imageSorce }}" alt="There is no pictuer" />
  </div>
  <div class="text">
    <div>
      <div class="description">
        {{ data.description }}
      </div>
    </div>
  </div>
  <button type="button" (click)="addLike()">
    <i [ngClass]="LikeBtn ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up'">{{
      numberOfLikes
    }}</i>
  </button>
  <input
    type="button"
    (click)="commentOn()"
    value=" {{ comments$!.length }} comment"
  />
  <div *ngIf="showComments">
    <a class="comments" *ngFor="let comment of comments$"
      ><mat-card>{{ comment.content }}</mat-card>
    </a>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea
        matInput
        placeholder="Ex. It makes me feel..."
        [(ngModel)]="content"
      ></textarea>
    </mat-form-field>
    <button mat-button (click)="addComment()">comment</button>
    <br />
  </div>
  <br />
  <button mat-button (click)="onClick()">Close</button>
</div>
