  <ac-map #map>
    <ac-layer
      *ngIf="entities$"
      acFor="let entity of entities$"
      [context]="this"
      [debug]="true">
      <ac-billboard-desc
        props="{ position: entity.position,
                              image : 'https://preview.ibb.co/cpDuwF/angular_cesium.png',
                              scale: 0.05,
                                                          }"
        >>
      </ac-billboard-desc>
      <ac-label-desc
        props="{
          position: entity.position,
          text: entity.id,
           pixelOffset : [-15,20] | pixelOffset
        }"
      >
      </ac-label-desc>
    </ac-layer>
  </ac-map>
  