.map-container {
    height: 84vh;
  }
  .map-post {
    width: 5vw;
    background-color: aliceblue;
    cursor: pointer;
  }
  .post-description {
    padding: 0.5em;
  }
  img {
    width: 100%;
  }
  