.container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  
  border-bottom: 0.25px solid rgb(177, 177, 177);
  border-width: 1px 0px 1px 0px;
  padding: 1%;
  margin: 0;
  height:30vh
}
.container:hover{
  background-color: rgb(245, 245, 245);
}

img {
  object-fit: cover;
  height: 30vh;
  width: 30vw;
  justify-content: center;
}
.image{
  text-align: right;
  margin-right: 3%;
}

.text{
  display: flex;
  font-size: medium;
  text-align: left;
  align-items: center;
}

.edit-button{
  display: flex;

  align-items: center;
  justify-content: center;
}

.username{
  font-weight: 500;
}

.description{
  font-size: small;
}

.image button{
  border: 0;
  background-color: transparent;
}
