<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container">
  <div class="image">
    <button (click)="OpenFullView()">
      <img src="{{ post?.imageSorce }}" alt="There is no pictuer" />
    </button>
  </div>
  <div class="text">
    <div>
      <div class="username">{{ userName }}</div>
      <div class="description">
        {{ post?.description }}
      </div>
    </div>
  </div>
  <div *ngIf="post?.userId == userId" class="edit-button">
    <button mat-mini-fab color="Accent" (click)="Edit()" mat-stroked-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
