<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container">
  <div class="image">
    <button (click)="OpenFullView()">
      <img src="{{ post?.imageSorce }}" alt="There is no pictuer" />
    </button>
  </div>
  <div class="text">
    <div>
      <div class="username">User {{ post?.userId }}</div>
      <div class="description">
        {{ post?.description }}
      </div>
    </div>
  </div>
  <div class="edit-button">
    <button (click)="Edit()">Edit</button>
  </div>
</div>
