<div class="left">
  <div class="Up">
    <div class="user">
      <button mat-mini-fab color="primary"
      [routerLink]="['/add-post']"
      [queryParams]="{
        id: userId
      }"
    >
    <mat-icon>add_location</mat-icon>
    </button>
      <div *ngIf="userName" class="userid">Welcome {{ userName }}! </div>
      
      <button class='logout' (click)="logout()">Logout</button>
    </div>

  </div>
  <div class="down"></div>
  <app-filter (updatePosts)="filter($event)"></app-filter>
</div>
